<% include partials/header %>


        <div class="container">
                <header class="jumbotron mt-2">
                        <div class="container">
                                <h1>Welcome To YelpCamp</h1>
                                <p>view our hand-picked campgrounds from all over the world</p>
                                <p>
                                        <a href="/campgrounds/new" class="btn btn-primary btn-large">Add New Campground</a>
                                </p>
                        </div>
                </header>




                <div class="row text-center" style="display:flex; flex-wrap:wrap;">
                        <% campgrounds.forEach(function(campground){ %>
                                <div class="col-md-3 col-sm-6">
                                        <div class="thumbnail">
                                               <div class="mx-2"> <img src="<%=campground.image %>" ></div> 
                                                <div class="caption">
                                                        <h4>
                                                                <%=campground.name %>
                                                        </h4>
                                                </div>
                                                <div>
                                                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary"> More Info</a>
                                                </div>
                                        </div>


                                </div>
                        <% }) %>
                </div>
        </div>





        <% include partials/footer %>